/.quarto/
.Rproj.user
.DS_Store

local_notes.Rmd
resources.qmd

*_files/*

#required when using github actions:
#not needed when using Terminal quarto publish gh-pages
_freeze/
#!_extensions/
#!images/

_book/

.Rhistory
data/*
!data/rnaseq_counts.tsv
!data/Ses3_geneAnnot.tsv
data_processed/
data/rnaseq/*
databkup_local/

output/
live_teaching/

